body {
    background-color: rgb(187, 164, 136);
    text-align: center;
}
    p{

        color: black;
    }
    .Dog {

        font-style: normal;
    }

    h3 {
        font-size: 150;
    }
.img1 {
    width: 70;
}

